<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/CSS/bootstrap.min.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
       <!-- david new -->



    <title>Startpage</title>

</head>
<body>
<div class='container'>
    {% block content %}
    {% endblock content %}
</div>
<!-- jQuery first, then Tether, then Bootstrap JS. -->


<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>

{% block javascript %}
{% endblock javascript %}

<nav class="navbar navbar-expand-xl navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResposive_1"
                aria-controls="navbarResposive_1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResposive_1">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a href="#" class="nav-link">Главная</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="logout" class="nav-link">Выйти</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="register" class="nav-link">Регистрация</a>
                    </li>
                    <li class="nav-item">
                        <a href="login" class="nav-link">Вход</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    <a href="#" class="nav-link">Справка</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<nav class="navbar navbar-expand-xl navbar-light sticky-top" style="background-color: #9cc7d5">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResposive_2"
                aria-controls="navbarResposive_2" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResposive_2">
            <ul class="navbar-nav mx-auto">
                <!-- Вот сюда нужно поставить будет ссылки на все страницы в href=***, для каждого Li элемента !-->
                <li class="nav-item">
                    <a href="event_and_creator" class="nav-link">Мероприятие</a>
                </li>
                <li class="nav-item">
                    <a href="people" class="nav-link">Люди</a>
                </li>
                <li class="nav-item">
                    <a href="timetable" class="nav-link">Расписание</a>
                </li>
                <li class="nav-item">
                    <a href="transfer" class="nav-link">Трансфер</a>
                </li>
                <li class="nav-item">
                    <a href="rooms" class="nav-link">Размещение</a>
                </li>
                <li class="nav-item">
                    <a href="logistics" class="nav-link">Логистика</a>
                </li>
                <li class="nav-item">
                    <a href="storage" class="nav-link">Реквизит и склад</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!--div ниже нижен только для тестирования прокрутки страницы, в дальнеёшем его удалить  !-->
<div style="padding-bottom: 5000px"></div>
</body>
</html>


<style>

    body {
        /*  background-image: url(/static/images/ache.jpg);*/
        background-color: #E0FFFF;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    .nav-link {
        display: block;
        padding: 20px 22px;
        text-decoration: none;
        font-size: 22px;
        border-bottom: 3px solid transparent;
    }

    .nav {
        position: relative;
    }

    .nav-link:focus, .nav-link:hover {
        border-bottom: 3px solid tomato;
        text-decoration: none;
    }

    smart-scroll {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .scrolled-down {
        transform: translateY(-100%);
        transition: all 0.3s ease-in-out;
    }

    .scrolled-up {
        transform: translateY(0);
        transition: all 0.3s ease-in-out;
    }
</style>
<script>
    // detect scroll top or down
    if ($('.smart-scroll').length > 0) { // check if element exists
        var last_scroll_top = 0;
        $(window).on('scroll', function () {
            scroll_top = $(this).scrollTop();
            if (scroll_top < last_scroll_top) {
                $('.smart-scroll').removeClass('scrolled-down').addClass('scrolled-up');
            } else {
                $('.smart-scroll').removeClass('scrolled-up').addClass('scrolled-down');
            }
            last_scroll_top = scroll_top;
        });
    }


</script>
