{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
        <link href="https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,700;0,800;1,700&display=swap"
              rel="stylesheet">
        <title>Main page</title>
    {% endblock css %}
</head>
<body>
{% block body %}
    {% load static %}
    <div id="slider" class="carousel slide carousel-fade" data-ride="carousel" style="padding-bottom: 10px">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://picsum.photos/1920/750?grayscale?random=1"
                     alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://picsum.photos/1920/750?grayscale?random=2"
                     alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="https://picsum.photos/1920/750?grayscale?random=3"
                     alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#slider" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slider" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container-fluid mt-5">

    </div>
    <div class="container-fluid mt-5">
        <div class="container p-5">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 3rem">
                    <div class="card" style="padding-bottom: 3rem">

                        <!-- Card image -->
                        <img class="card-img-top" src="https://picsum.photos/1920/1280?grayscale?random=4"
                             alt="Card image cap">

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title"><a>Card title</a></h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's
                                content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 3rem">
                    <div class="card" style="padding-bottom: 3rem">

                        <!-- Card image -->
                        <img class="card-img-top" src="https://picsum.photos/1920/1280?grayscale?random=5"
                             alt="Card image cap">

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title"><a>Card title</a></h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's
                                content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="padding-bottom: 3rem">
                    <div class="card" style="padding-bottom: 3rem">

                        <!-- Card image -->
                        <img class="card-img-top" src="https://picsum.photos/1920/1280?grayscale?random=6"
                             alt="Card image cap">

                        <!-- Card content -->
                        <div class="card-body">

                            <!-- Title -->
                            <h4 class="card-title"><a>Card title</a></h4>
                            <!-- Text -->
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the
                                card's
                                content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small unique-color-dark pt-4">
        <!-- Footer Text -->
        <div class="container-fluid text-center text-md-left">
            <!-- Call to action -->
            <ul class="list-unstyled list-inline text-center py-2">
                <li class="list-inline-item">
                    <h5 class="mb-1">Регистрируйся бесплатно</h5>
                </li>
                <li class="list-inline-item">
                    <a href="#" class="btn blue-gradient">*тык*</a>
                </li>
            </ul>
            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-6 mt-md-0 mt-3 text-center ">

                    <!-- Content -->
                    <h5 class="text-uppercase text-muted text-center font-weight-bold">Давидище Каграманёвски</h5>
                    <a href="https://vk.com/armageddonreloaded">
                        <div class="view overlay d-flex justify-content-around rounded" style="width: 200px; margin-left: auto;
    margin-right: auto">
                            <img src="{% static 'images/Main_page/Dovid.jpg' %}" class="img-fluid rounded  hoverable"
                                 alt="Dovid">
                            <div class="mask flex-center waves-effect waves-light rgba-red-light">
                                <p class="white-text">VK</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Grid column -->

                <hr class="clearfix w-100 d-md-none pb-3">

                <!-- Grid column -->
                <div class="col-md-6 mb-md-0 mb-3 text-center">

                    <!-- Content -->
                    <h5 class="text-uppercase text-muted text-center font-weight-bold">Дмитриё Годяёвски</h5>
                    <a href="https://vk.com/noway.casper">
                        <div class="view overlay d-flex justify-content-around rounded" style="width: 200px; margin-left: auto;
    margin-right: auto">
                            <img src="{% static 'images/Main_page/Dmitrii.jpg' %}" class="img-fluid rounded  hoverable"
                                 alt="Dimitrii">
                            <div class="mask flex-center waves-effect waves-light rgba-red-light">
                                <p class="white-text">VK</p>
                            </div>
                        </div>
                    </a>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->


        </div>
        <!-- Footer Text -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3" style="background-color: #9cc7d5;">© 2020:
            <a href="http://127.0.0.1:8000/transfer/secret"> *Тык*</a>
        </div>
        <!-- Copyright -->

    </footer>
{% endblock %}
</body>
</html>