{% extends "base.html" %}
{% load static %}
{% block content %}


    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <div class="page-header">
  <a href="{% url 'Event_and_creator:registration' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Ссыл очка на что-нибудь</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            </div>
        </div>
    </div>


    <h1>Добавление маршрутаt</h1>
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Save</button>
    </form>


{% endblock %}
