<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!-- для ссылок на новые стили!-->
    {% block css %}
    {% endblock css %}
</head>
<body>
{%  block body %}
{% endblock %}
</body>
</html>
{% block javascript %}
{% endblock %}