{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% block css %}
        <link rel="stylesheet" href="{% static 'CSS/timetable/kendo.common.min.css' %}">
        <link rel="stylesheet" href="{% static 'CSS/timetable/kendo.default.min.css' %}">
        <link rel="stylesheet" href="{% static 'CSS/timetable/kendo.default.mobile.min.css' %}">
    {% endblock css %}
</head>
<body>
{% block body %}
    <div>
        <nav class="navbar timetable_bar navbar-expand-xl navbar-light sticky-top"
             style="background-color: greenyellow">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResposive_2"
                        aria-controls="navbarResposive_2" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResposive_2">
                    <ul class="navbar-nav mx-auto">
                        <!-- Вот сюда нужно поставить будет ссылки на все страницы в href=***, для каждого Li элемента !-->
                        <li class="nav-item">
                            <a href="#" class="nav-link timetable_bar">Тут будет навбар с датами для мероприятия длингой
                                больше 24 часов</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="conmtainer-fluid" style="background-color: white">
    </div>
    <script type="text/javascript" src="{% static 'js/timetable/kendo.all.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/timetable/kendo.timezones.min.js' %}"></script>
    <div id="example" class="k-content">
        <div id="scheduler"></div>
    </div>
    <script>
        let current_date = new Date();
        let current_datetime = new Date();
        current_date.setHours(0, 0, 0, 0);
        current_datetime.setMinutes(0, 0, 0);
        $(function () {
            $("#scheduler").kendoScheduler({
                date: current_date,
                startTime: current_datetime,
                eventHeight: 60,
                toolbar: ["pdf"],
                pdf: {
                    fileName: "Timetable.pdf",
                },
                //один tick - одна минута
                majorTick: 60,
                views: ["timeline", "timelineWeek",
                    {
                        // custom view with parameters
                        type: "timelineMonth",
                        startTime: current_date,
                        // поэтому тут 1440 = 24*60 - один тик - один день
                        majorTick: 1440
                    }],
                timezone: "Europe/Moscow",
                dataSource: {
                    batch: true,
                    transport: {
                        read: {
                            url: "https://demos.telerik.com/kendo-ui/service/meetings",
                            dataType: "jsonp"
                        },
                        update: {
                            url: "https://demos.telerik.com/kendo-ui/service/meetings/update",
                            dataType: "jsonp"
                        },
                        create: {
                            url: "https://demos.telerik.com/kendo-ui/service/meetings/create",
                            dataType: "jsonp"
                        },
                        destroy: {
                            url: "https://demos.telerik.com/kendo-ui/service/meetings/destroy",
                            dataType: "jsonp"
                        },
                        parameterMap: function (options, operation) {
                            if (operation !== "read" && options.models) {
                                return {models: kendo.stringify(options.models)};
                            }
                        }
                    },
                    schema: {
                        model: {
                            id: "meetingID",
                            fields: {
                                meetingID: {from: "MeetingID", type: "number"},
                                title: {from: "Title", defaultValue: "No title", validation: {required: true}},
                                start: {type: "date", from: "Start"},
                                end: {type: "date", from: "End"},
                                startTimezone: {from: "StartTimezone"},
                                endTimezone: {from: "EndTimezone"},
                                description: {from: "Description"},
                                recurrenceId: {from: "RecurrenceID"},
                                recurrenceRule: {from: "RecurrenceRule"},
                                recurrenceException: {from: "RecurrenceException"},
                                roomId: {from: "RoomID", nullable: true},
                                attendees: {from: "Attendees", nullable: true},
                                isAllDay: {type: "boolean", from: "IsAllDay"}
                            }
                        }
                    }
                },
                group: {
                    resources: ["Rooms", "Attendees"],
                    orientation: "vertical"
                },
                resources: [
                    {
                        field: "roomId",
                        name: "Rooms",
                        dataSource: [
                            {text: "Meeting Room 101", value: 1, color: "#6eb3fa"},
                            {text: "Meeting Room 201", value: 2, color: "#f58a8a"}
                        ],
                        title: "Room"
                    },
                    {
                        field: "attendees",
                        name: "Attendees",
                        dataSource: [
                            {text: "Alex", value: 1, color: "#f8a398"},
                            {text: "Bob", value: 2, color: "#51a0ed"},
                            {text: "Charlie", value: 3, color: "#56ca85"}
                        ],
                        multiple: true,
                        title: "Attendees"
                    }
                ]
            });
        });
    </script>

{% endblock %}
</body>
</html>
{% block style %}
    <style>
        .nav-link.timetable_bar {
            display: block;
            padding: 20px 22px;
            text-decoration: none;
            font-size: 22px;
            border-bottom: 3px solid transparent;
        }

        .nav-link.timetable_bar:focus, .nav-link.timetable_bar:hover {
            border-bottom: 3px solid #03a9f4;
            text-decoration: none;
        }

        .navbar.timetable_bar {
            box-shadow: none;
        }
    </style>
{% endblock %}