{% extends "base_flights.html" %}
{% block content %}



<div class="container">
    <div class="page-header">
       <a href="{% url 'Flights:waybill' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
        <h1><a href="/">Ссылочка на что-нибудь</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            </div>
        </div>
    </div>


    <h1>Добавление маршрута</h1>
    <form method="post" name="WaybillForm">
        {% csrf_token %}
        {{ forms.waybill_form.as_p }}

        <input id="savebutton" type="button" value="Сохранить"/>
        <input id="updatebutton" type="button" value="Обновить таблицу"/>
        <input id="generatebutton" type="button" value="Сгенерить 5 рандомных записей"/>


    </form>
    <!-- форма кнопки 'edit' -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Изменение данных</h4>
                </div>
                <form id="update_waybill" action="">
                    <div class="modal-body">


                        <label>Название маршрута</label>
                        <input class="form-control" name="edit_name" waybill_id="" id="edit_name" type="text"/>
                        <label>event_id</label>
                        <input class="form-control" name="edit_event_id" waybill_id="" id="edit_event_id"
                               type="number"/>
                    </div>
                    <div class="modal-footer">
                        <input id="edit_form_save" type="button" value="Сохранить изменения"/>
                        <input id="edit_form_close" type="button" class="close" data-dismiss="modal" aria-label="Close"
                               value="Закрыть"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <h3>Доступные маршруты</h3>
        <table id="WaybillTable" class="table table-striped">
            <tr>
                <th>id</th>
                <th>Название</th>
                <th colspan="3">event_id</th>
            </tr>
            {% if new_data %}
            {% for waybill in new_data %}
            <tr id="waybill-{{ waybill.id }}">
                <td class="waybill_id userData" name="id">{{ waybill.id }}</td>
                <td class="waybill_name userData" name="name">{{ waybill.name }}</td>
                <td class="waybill_event_id userData" name="event_id">{{ waybill.event_id }}</td>
                <td align="center">
                    <button class="btn btn-success form-control" onClick="editUser({{waybill.id}})"
                            data-toggle="modal" data-target="#myModal">Редактировать
                    </button>
                </td>
                <td align="center">
                    <button class="btn btn-danger form-control" onClick="delete_waybill({{ waybill.id }})">
                        Удалить
                    </button>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            Маршрутов нет
            {% endif %}
        </table>
    </div>
</div>


<script type="text/javascript" src="/static/js/jquerry/jquery-3.5.1.min.js"></script>
<script src="/static/js/jquerry/jquery.autocomplete.min.js" type="text/javascript"></script>
<link type="text/css" rel="stylesheet" href="/static/CSS/jquery.autocomplete.css">
<script src="/static/js/ajax_base.js"></script>
<script src="/static/js/Flights/transfer.js"></script>
<script type="text/javascript">

    /* убрать  из дополнительной формы event_id
       сделат ьпрвоерку на уникальность названия пути
       добавить id и event_id к названию путевого маршрута, но оставить их в основной табилце
       добавить нумерацию строк
       засунуть скрипты в отедльный файл
       создать файл с функциями вьюшек
     */
</script>
{% endblock %}
